{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@Components": "./src/components",
                    "@Helpers": "./src/helpers",
                    "@Pages": "./pages"
                }
            }
        ],
        [
            "babel-plugin-styled-components",
            {
                "ssr": true
            }
        ]
    ]
}
