{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Components": "./components",
          "@Helpers": "./src/helpers",
          "@Pages": "./pages"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
