NEXT_PUBLIC_API_ENDPOINT=http://localhost:3000
NEXT_PUBLIC_X_ORIGINS_TOKEN=
NEXT_PUBLIC_WP_ENDPOINT=
NEXT_PUBLIC_DEFAULT_STORE_ID=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGE_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASURE_MENT_ID=
NEXT_PUBLIC_QUESTION_LIFESTYLE=
NEXT_PUBLIC_QUESTION_PRODUCT_TYPE=
NEXT_PUBLIC_API_SERVER_WAGTAIL=

NEXT_PUBLIC_PRODUCT_TYPE_GROUPID_EDIBLE=