@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?xs4riz');
  src: url('fonts/icomoon.eot?xs4riz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xs4riz') format('truetype'),
    url('fonts/icomoon.woff?xs4riz') format('woff'),
    url('fonts/icomoon.svg?xs4riz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-billingMethod:before {
  content: '\e912';
}
.icon-calendar:before {
  content: '\e911';
}
.icon-hourglassActive:before {
  content: '\e910';
}
.icon-hourglass:before {
  content: '\e90f';
}
.icon-info:before {
  content: '\e90e';
}
.icon-chartLine:before {
  content: '\e90d';
}
.icon-video:before {
  content: '\e90b';
}
.icon-notificationOutline:before {
  content: '\e90c';
}
.icon-specialties:before {
  content: '\e900';
}
.icon-resources:before {
  content: '\e901';
}
.icon-profile:before {
  content: '\e902';
}
.icon-notification:before {
  content: '\e903';
}
.icon-messages:before {
  content: '\e904';
}
.icon-dashboard:before {
  content: '\e905';
}
.icon-counselors:before {
  content: '\e906';
}
.icon-clients:before {
  content: '\e907';
}
.icon-activity:before {
  content: '\e908';
}
.icon-bookmarks:before {
  content: '\e909';
}
.icon-search:before {
  content: '\e90a';
}
